@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}





@{
	var selection = Umbraco.Content(Guid.Parse("4cbc4453-ae9a-4792-86d7-0823f4ee0a13"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
    
	@foreach (var item in selection)
	{
	<div class="itemBox">
		<li>
			<a href="@item.Url">@item.Name</a>
			<p>@item.Value("date")</p>
		</li>
	</div>
	}
</ul>




