@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@

@if (!Members.GetCurrentLoginStatus().IsLoggedIn) {
    @Html.Partial("Login")

}
else {
    <p>You are currently logged in as
    @Members.GetCurrentLoginStatus().Name</p>
     @Html.Partial("Logout")
}
